.imagenPrincipal{
    width: 100%;
}

.tituloSeccion{
    margin-top: 40px;
    font-family: "Copperplate Gothic";
    font-size: 2rem;
    text-align: center;
    text-wrap: wrap;
}

.productosVenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 50px;
    padding: 20px 7vw;
}

.producto{
    cursor: pointer;
    outline: 1px solid black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

    flex: 1 1 250px;
    margin: 20px 10px;

    text-align: center;
    font-family: "Copperplate Gothic";
}

.producto:hover{
    box-shadow: 15px 15px 10px #00000070;
}

.nombreProducto{
    font-size: 90%;
    padding: 5%;
}

.imagenProducto {
    max-width: 100%;
    height: auto;
}

.descripcionProducto{
    padding: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
}

.precioProducto{
    color: #4985BB;
    font-family: "Century Gothic";
    font-size: 200%;
}

.botonCarrito{
    cursor: pointer;
    border: none;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5%;
    margin: 5% 0;

    background-color:rgb(0, 0, 0);
    color: white;
}

.botonCarrito:hover{
    background-color: #4985BB;
    box-shadow: 5px 5px 10px #00000070;
}